<div id = "team-header-buttons">
  <div class = "header-buttons-right-non-user">
    <div class = "flex-row center-aligned dropdown header-right-container" id = "sign-up-button-header">
      <%=link_to signup_path do %>
          <button class = "portal-button portal-button-1">Sign Up</button>
        <%end%>
      
    </div> 
    <div class = "flex-row center-aligned dropdown header-right-container" id = "login-button-header">
      <%=link_to login_path do %>
              <button class = "portal-button portal-button-2">Log in</button>
            <%end%>
    </div> 
    <div class="slide-out-widget-area-toggle mobile-icon fullscreen" data-icon-animation="simple-transform">
      <div> <a href="#sidewidgetarea" class="closed"> <span> <i class="lines-button x2"> <i class="lines"></i> </i> </span> </a> </div> 
    </div>
  </div>
</div>

