<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      body{
        font-size: 16px;
      }

      .email-logo{
        width: 140px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

    </style>
  </head>
  <body>
    <br>
    <div id = "welcome">Hi <%=@name%>,</div>
    <br>
    <div>
      I’m reaching out to you to share a new web application for basketball coaches called <a href = "https://ateamsports.app/">ATeam</a>. ATeam offers tools to help you improve performance throughout the season like play diagramming, a stat collection platform, modern analytics including advanced stats, lineup stats, shot chart data, and more. 
    </div>
    <br>
    <div>
      ATeam was developed by coaches who also know technology, and our product is not only tailored specifically for basketball, but we pride ourselves on an intuitive user experience and design.  We’d love for you to check it out and invite you to explore our demos <a href = "https://ateamsports.app/demos">here</a>. 
    </div>
    <br>
    <div>If you have any questions, or would like help setting up an account please don’t hesitate to ask. We'd love to hear any feedback you have too. We hope you'll check us out and good luck with your upcoming season!</div>
    <br>
    <br>
    <div>Ryan Schneiderman</div>
    <div>Founder, Lead Developer</div>
    <img class = "email-logo" src = "https://ateam-assets.s3.amazonaws.com/logo-grey.png">
    <div>802-777-3217</div>
    <a href = "https://ateamsports.app/ ">https://ateamsports.app/</a>
    <br>
  </body>
</html>


 