<%=render "layouts/small_header"%>
<div id = "products-page-wrapper">
	<div class = "page-landing-banner flex-row center-aligned center-justified" id = "products-banner">
		<div class = "page-banner-heading">Product</div>
	</div>
	<div id = "product-grid" class = "grid">
		<div class = "product-box-wrapper flex-row center-justified center-aligned product-box-border-right product-box-border-bottom">
			<div class = "product-box flex-column" id = "play-diagramming-box">
				<div class = 'product-box-label'>Play Diagramming</div>
			</div>
		</div>
		<div class = "product-box-wrapper flex-row center-justified center-aligned product-box-border-bottom">
			<div class = "product-box flex-column" id = "stat-collection-box">
				<div class = 'product-box-label'>Stat Collection</div>
			</div>
		</div>
		<div class = "product-box-wrapper flex-row center-justified center-aligned product-box-border-right">
			<div class = "product-box flex-column" id = "analytics-box">
				<div class = 'product-box-label'>Analytics</div>
			</div>
		</div>
		<div class = "product-box-wrapper flex-row center-justified center-aligned">
			<div class = "product-box flex-column" id = "team-hub-box">
				<div class = 'product-box-label'>Team Hub</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(".portal-button-2").addClass("portal-button-2-alt")
</script>