


<div class = "modal-overlay" id = "game-mode-overlay" style = "display: none;"></div>
<div class = "modal modal-positioning" id = "game-mode-modal" style = "display: none;">
  <div id = "signup-initializer" class = "modal-container gm-initializer">
    <div class = "GM-modal-wrapper">
      <div class = "modal-header-wrapper">
        <div class = "modal-header" id = "new-game-header">Game Mode</div>
      </div>
      <div class = "modal-inner-content" id = "game-mode-modal-content">
        <div class = "modal-body" id = "game-mode-modal-body">
        	<div id = "load-game-state-wrapper"class = "GM-modal-inner-block"> 
	            <div id = "load-game-state">
	                <div class = "modal-subheading">It appears you already have some data for this game, would you like to load this data?</div>
	            </div>
	            <div id = "confirm-buttons">
					<button id = "confirm-submit" class = "confirm-buttons" onclick = "load_game()">Yes, load</button>
					<button id = "dont-submit" class = "confirm-buttons" onclick = "pre_game_mode()">No, start from scratch</button>
				</div>
	        </div>
	        <div id = "personel-selection-wrapper" style = "display: none" class = "GM-modal-inner-block">
	        	<div id = "personel-selection-header" class = "modal-subheader">Select Inactives</div>
				<div id = "personel-selection-body">

				</div>
	        </div>
	        <div id = "GM-submit-wrapper" style = "display: none" class = "GM-modal-inner-block">
				<div id = "GM-submit-header" class = "modal-subheading"> Are you sure you want to submit? </div>
				<div id = "GM-submit-body">
					<div id = "confirm-buttons">
						<button id = "dont-submit" class = "confirm-buttons" onclick = "close_game_mode()">I'm not finished</button>
						<button id = "confirm-submit" class = "confirm-buttons" onclick = "submit_game_mode()">Yes, Submit</button>
					</div>
				</div>
				<span class="default-loading-icon spin blue-loader" id = "game-mode-loader" style = "display: none;"></span>
			</div>
        </div>
      </div>
      <div class = "modal-footing" id = "personel-selection-next">

      </div>
    </div>
  </div>
</div>
