.new-overlay{
	z-index: 2001;
	background: none;
	justify-content: center;
}

.join-team-header{
	text-align: center;
	font-size: 25px;
    margin-bottom: 15px;
}

.join-team-submit{
	margin-top: 20px;
    width: 100%;
    background: lightblue;
    border-radius: 5px;
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}



