#join-team-modal-button{
	background-color: #0095ff;
    width: 400px;
    height: 60px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 19px;
}

#join-team-button-wrapper{
	margin-top: 70px;
}

.join-input{
	margin-top: 25px;
}