.lineups-grid{
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.lineup-module{
	display: grid;
    grid-template-columns: 7fr 1fr;
    padding: 0 0 0 30px;
    background: #424242;
    border-radius: .625rem;
    min-height: 250px;
    width: 100%;
    box-shadow: 0px 0px 5px #696969;
    color: white;
}

.lineup-stat-inactive{
	display: none !important;
}

.inactive-table{
	display: none !important;
}


.lineup-table-headers{
	text-align: center;
	margin-bottom: 20px;
}

.lineup-table-link{
	margin-left: 10px;
	margin-right: 10px;
	font-size: 14px;
}

.lineup-adv-row{
	display: flex;
}

#lineups-container{
	display: grid;
    grid-row-gap: 40px;
}

#lineup-explorer{
	padding: 30px 30px;
}

.lineup-member{
	display: inline-block;
	font-family: eurostile, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.lineup-members{
	margin-top: 20px;
	margin-bottom: 30px;
	display: flex;
}

.percentile-rankings-header{
	font-size: 19px;
    margin-bottom: 20px;
    font-weight: 600;
}

.lineup-def-rtg{
	border-bottom: 3px solid #f51c40 !important;
}

.lineup-off-rtg{
	border-bottom: 3px solid #00c7ff !important;
}

.lineup-members{

}

.lineup-module-left{

}

.lineup-module-right{
	display: flex;
    flex-direction: column;
}

.advanced-link{
	
}

.stat-link{
	margin-top: 3px;
	margin-bottom: 3px;
	color: #9e9e9e;
	display: block;
}

.stat-module{
	display: inline-block;
	background-color: #2f2f2f;
    border-radius: 5px;
    font-family: eurostile, sans-serif;

}

.efficiency-stats{
	display: flex;
	flex-direction: column;
}

.lineup-slider-header{
	color: white;
	font-weight: 600;
}

.lineup-other-advanced{
	display: flex;
	flex-wrap: wrap;
}

.lineup-stat-container{
	display: flex;
	flex-direction: column;
}

.lineup-adv-slider{
	margin-left: 5px;
	margin-right: 5px;
}

.lineup-stat{
	font-size: 17px;
    font-weight: bold;
    margin-left: 7px;
    margin-right: 7px;
    min-width: 85px;
    height: 70px;
}

.stat-link-selected{
	color: black;
}

.lineup-stats{
	grid-template-columns: 1fr 1fr 1fr;

	display: grid;
    grid-row-gap: 15px;
    margin-bottom: 20px;
}

.far-right-column{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.more-link{
}

#more-link-wrapper{
	height: 100%;
}

.less-link-container{

}

.more-circle{
	transition: stroke .3s ease;
}

.more-arrow{
	transition: fill .3s ease;
}

.expand-container{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	align-self: flex-end;
	margin-right: 15px;
    text-align: center;
    cursor: pointer;
}

.more-text{
	font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin-top: 5px;
    transition: color .3s ease;
    color: #ababbb;
}



.lineup-minutes{
	color: #18fb55;
	margin-top: 10px;
    margin-right: 10px;
}

.minutes-container{
	display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-end-container{
	justify-content: flex-end;
    display: flex;
}

.lineup-stat-label{
	border-bottom: 3px solid #e5e5e5;
	padding: 5px;
	text-align: center;
}

.lineup-stat-value{
	padding: 5px;
	text-align: center;
}

.lineup-order-header{
	font-size: 25px;
	margin-bottom: 20px;
}


.lineup-order-links{
	margin-left: 20px;
}

.radar-charts{
	display: flex;
	justify-content: center;
}

.basketball-bullet{
	width: 12px;
	height: 12px;
	position: absolute;
	transition: all .3s ease 0s;
	top: 58px;
}

.radar-w-minutes{
	display: flex;
	justify-content: flex-end;
	height: 100%;
}
.lineup-radar{
	margin-left: 20px;
	margin-right: 20px;
}

.lineup-stat-table{
	font-size: 10px;
   	background-color: #8b8c8b;
    white-space: nowrap;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 40px !important;
}

.per-minute-link{
	font-weight: bold;
}

#ordering-column{
	position: sticky;
    top: 60px;
    height: 600px;
}

.lineup-radar .axisLabel, .lineup-radar .legend{
	fill: white;
}

.lineup-radar .legend{
	font-weight: 500;
}


.lineup-radar .gridCircle{
	stroke: rgb(160, 160, 160) !important;
}

.lineup-radar .line {
	stroke: #d8d8d8 !important;
}

