.modal{
	display: flex;
    z-index: 2001;
    background: none;
    justify-content: center;
}

/*svg{
    height: max-content !important;
    max-width: max-content !important;
}*/

.modal-positioning{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.flex-row-important{
    display: flex !important;
}
.flex-row{
	display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.main-link{
    color: #337ab7 !important;
}

.center-aligned{
	align-items: center;
}

.end-aligned{
    align-items: flex-end;
}

.end-justified{
    justify-content: flex-end;
}

.center-justified{
	justify-content: center;
}

.modal-submit-button{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #0095ff;
    color: white;
    font-weight: 600;
    font-size: 15px;
    opacity: 1;
    border: none !important;
}

.invalid-feedback{
    color: red;
}

.img-footer{
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
}

.confirm-modal-wrapper{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-modal-content{
    width: 200px !important;
    padding: 30px 30px 10px;
}

.confirm-modal-body{
    min-height: 100px !important;
}

.modal-heading{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}
.modal-footing{
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: #e8e8e8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-wrapper{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: white;
    box-shadow: #a5a5a5 0px 0px 5px;
}

.modal-p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.modal-submit-button-deactivated{
    background-color: #848484!important;
    opacity: .7!important;
}

.modal-cancel-button{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: white;
    color: #424242;
    font-weight: 600;
    font-size: 15px;
}


.modal-body{
    margin-top: 10px;
    min-height: 45vh;
    max-height: 55vh;
    overflow: scroll;
    padding: 0!important;
}

.heading-button{

}

.modal-overlay{
    z-index: 2000;
    display: block;
    position:fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.18);
}


.modal-back-button{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    height: 25px;
    background-color: #e8e8e8;
    border-radius: 10px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b1b1b;
    box-shadow: 0px 0px 2px #bbbbbb;
}

.settings-button{
    justify-self: flex-end;
}

.dropdown-action{
    width: 100%;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.flex-row:hover > .dropdown-action{
    background-color: #e2e2e2;
}
/*.dropdown-action:hover{
    background-color: #e8e8e8;
}*/

.dropdown-action-selected{
    background-color: #d2d2d2;
    font-weight: 600;
}


.back-arrow-img{
    width:8px;
}

.settings-img{
    width: 17px;
}

.delete-img{
    width: 20px;
}


svg, object{
    pointer-events: none;
}

.sidebar{
    width: 11vw;
    position: fixed;
    bottom: 0;
    align-items: center;
}


.grid{
    display: grid;
}

.toolbar-dropdown{
    position: absolute;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #d0d0d0;
    z-index: 5;
    background-color: white;
}
 .trend-dropdown-action, .lineup-dropdown-action{
    text-align: left;
    padding: 5px;
    padding-left: 15px;
    margin: 5px;
    border-radius: 20px;
    font-weight: 500;
}

.season-dropdown-action{
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    color: black;
}


.margin-5{
    margin: 5px;
}

.toolbar-dropdown-button{
    width: 100%;
    border: none;
}

.modal-inner-content{
    min-width: 40vw;
}

.modal-message{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
}

.modal-header{
    font-weight: 600;
    font-size: 28px;
    padding: 0px !important;
    border-bottom: none !important;
    color: black;
}

.modal-subheader{
    font-size: 22px;
    font-weight: 600;
}

.modal-subheading{
    font-size: 19px;
    font-weight: 600;
}


.modal-section{
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-container{
    min-width: 45vw;
    max-width: 60vw;
    margin-top: 18vh;
    overflow: scroll;
}

#role-modal-container{
    margin-top: 18vh;
}

.page-header{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 0px;
}

.page-subheader{
    font-size: 40px;
}

.green-text{
    color: #1bca80;
}

.blue-text{
    color: #0195ff;
}


.team-color-1{
    background-color: #EF0000;
}

.team-color-2{
    background-color: #FF861D;
}

.team-color-3{
    background-color: #F5CF50;
}

.team-color-4{
    background-color: #FFE93C;
}

.team-color-5{
    background-color: #DDF23C;
}

.team-color-6{
    background-color: #2DC320;
}

.team-color-7{
    background-color: #008E16;
}

.team-color-8{
    background-color: #00C396;
}

.team-color-9{
    background-color: #00BAFF;
}

.team-color-10{
    background-color: #0062FF;
}

.team-color-11{
    background-color: #004F9F;
}

.team-color-12{
    background-color: #6532D5;
}

.team-color-13{
    background-color: #D51A62;
}

.team-color-14{
    background-color: white;
}

.team-color-15{
    background-color: #B7B7B7;
}

.team-color-16{
    background-color: #6E6E6E;
}

.team-color-17{
    background-color: #000000;
}

.team-color-18{
    background-color: #7B5B31;
}


.heading{
    font-weight: 600;
}


.heading-1{
    font-size: 30px;
}

.heading-2{

}

.heading-3{

}

.heading-4{

}









