#new-season-note{
	text-align: left;
    margin-bottom: 40px;
    margin-left: 80px;
    margin-right: 80px;
    line-height: 2;
}

.add-member-season{
	width: 100px !important;
	color: white;
    background: #0096ff;
}

#new-season-confirm{
	display: none;
}