.page-header-note{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10vw;
    margin-right: 10vw;
}

#create-team-header{
    padding-bottom: 30px;
    color: black;
    font-weight: 600;
}

.incorrect-input::placeholder{
	color: red;
}

.incorrect-input{
	border-color: red !important;
}

.needs-input{
	color: red;
	margin-top: 15px;
}

#new-team-block{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    color: black;
}

.new-team-row{
	 display: grid;
    grid-template-columns: 2fr 3fr;
}

.team-info-col-1{
	display: flex;
	flex-direction: column;
	padding-left: 30px;
}

.team-info-col-2{
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.team-info-row{
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

.new-team-block{
	background-color: white;
	border-radius: 1px;
	padding: 20px;
	padding-top: 35px;
	padding-bottom: 35px;
	display: flex;
	height: 100%;
	margin: 0px 60px 40px;
}

.new-team-inner{
	flex-direction: column;
    display: flex;
    padding-bottom: 30px;
}

.new-team-block-wrapper{
	display: flex;
    flex-direction: column;
}

.team-info-descr, .added-members-header{
	font-size: 19px;
	font-weight: 600;
	margin-bottom: 10px;
}

.added-members-header{
	
}

.team-info-parenthetical{
	color: #464646;
	font-weight: 400;
	font-size: 13px;
    padding-left: 5px;
}

.team-info-radio-wrapper {
    margin-left: 10px;
    margin-right: 10px;
}

.color-picker-grid{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 5px;
	grid-column-gap: 5px;
}

.color-picker-square{
	width: 50px;
	height: 50px;
	box-shadow: 0px 0px 3px #ededed;
	border-radius: 2px;
	border: 1px solid #ededed;
}

.color-picker-selected{
	border: 3px solid #2f2f2f;
}

.create-team-note{
	font-size: 16px;
	width: 65vw;
}


#role-info{
	margin-left: 3px;
	position: relative;
	padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#chat-access-info{
    margin-left: 3px;
	position: relative;
	padding-right: 40px;
}

.permission-header{
	font-size: 16px; 
	font-weight: 600;
	padding-bottom: 10px;
}

#role-info .tooltiptext, #chat-access-info .tooltiptext{
	font-size: 12px;
    width: 250px;
    visibility: hidden;
    position: absolute;
    left: 30px;
    bottom: 5px;
    background: #e8e8e8;
    border-radius: 3px;
    padding: 5px;
}

.role-info-icon{
	width: 13px;
	margin-bottom: -3px;
    margin-left: 5px;
}

#role-info:hover .tooltiptext, #chat-access-info:hover .tooltiptext{
	transition-delay: .3s;
	visibility: visible;
}

.chat-access-permission-wrapper{
	margin-left: 10px;
}

#stat-selection-container{
	grid-template-columns: 2fr 3fr;
    grid-column-gap: 8vw;
    margin-top: 40px;
    display: grid;
}

.new-team-input{
	outline: none;
    border: none;
    border-bottom: 1px solid grey;
    color: #152138;
    padding-bottom: 4px;
}


.add-members-form{
	display: flex;
	flex-direction: column;
}

.teams{
	/*background-color: #ededed;*/
}

#background-color{
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000d23;

}


.new-box{
	overflow: hidden;
	margin: auto;
	border-radius: 3px;
	z-index: 2001;
	display: flex;
	flex-direction: column;
	width: 45vw;
	margin-top: 100px;
	justify-content: center;
	padding: 20px;
}

.player-join-box{
	background: #424d56;
	color: white;
}

.add-players-header{
	font-size: 18px;
    margin-left: 10px;
}

.join-team-box{
	background: white;
}

.new-header{
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align:center;
}

.new-form{
	padding-top: 0;
	padding-bottom: 0;
}

#choose-stats-block, #add-members-block{
	padding-left: 30px;
    padding-right: 20px;
}

#added-members{
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	min-height: 450px;
}

#previous-players-container, #added-players-container, #added-coaches-container, #added-managers-container{
	display: flex;
	flex-wrap: wrap;
	min-height: 74px;
	max-width: 650px;
}


.member-block{
	border-radius: 10px;
    color: black;
    background-color: #efefef;
    box-shadow: 0px 0px 3px #bbbbbb;
    margin: 5px;
    min-width: 90px;
}


.member-block-top{
	padding: 5px;
}

.member-block-name{
	font-weight: 600;
	font-size: 18px;
}

.member-block-name, .member-block-email{
	font-weight: 500;
}

.delete-member{
	border: 1px solid #ff0047;
    color: #ff0047;
}

.edit-member{
	border: 1px solid #0096ff;
    color: #0096ff;
}

#member-role-input{
	margin-bottom: 10px !important
}

#custom-permissions{
	border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.permissions-column{
	padding-left: 10px;
	padding-right: 10px;
}

.permissions-label{
	margin-left: 5px;
	font-weight: 500;
}


.add-members-wrapper{
	border-right: 1px solid #d4d4d4;
}

.edit-member-radio-wrapper {
    padding-left: 3px;
    padding-right: 3px;
}

.edit-delete-member, .edit-delete-schedule-event{
	margin-left: 3px;
    margin-right: 3px;
    font-weight: 500;
    position: relative;
    font-size: 12px;
    padding: 1px 0px 1px;
    border-radius: 10px;
    width: 50px;
    text-align: center;
}


.edit-delete-member-wrapper{
    padding: 4px;
}

.member-block-hidden{
	display: none;
}

#current-members{
	max-width: 50vw;
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
	margin-bottom: 10px;
}

.current-members{
	max-width: 50vw;
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
	margin-bottom: 10px;
}

.new-player{
	font-family: "Open Sans";
    border: 1px solid #00c1ff;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #00efff;
}

.new-player:hover > .remove-player-x{
	visibility: visible;
}

.new-player-name{
	float: left;
}
.remove-player-x{
	visibility: hidden;
	float: left;
	padding-left: 5px;
}

#button-bar{

}

.bar-button{
	background-color: #ff2b6d;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    color: white
}

.bar-button-offset{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 15px;
}
#next-button{
	float: right;
}
#previous-button{
	float: left;
	float: left;
    border: 1px solid #ff2b6d;
    color: #ff2b6d;
    background: transparent;
}

.team-info-input{
	margin-bottom: 30px;
	text-align: left;
}

.add-members-input{
	margin-bottom: 45px;
	text-align: left;
}

#enter-member-email{
	width: 200px;
}

.add-member-button {
	background-color: #0cda71;
    box-shadow: 0px 0px 5px #0cda71;
}

.member-button{
	width: 140px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    font-weight: 600;
    font-size: 16px;
	border-radius: 20px;
	margin-top: 25px;
}


.update-member-button{
	background-color: #0096ff;
	box-shadow: 0px 0px 5px #0096ff;
}



.add-members-header{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}

.create-team-button{
	width: 220px;
    text-align: center;
    background-color: #ff005f;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 30px;
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.create-team-button-wrapper{
	margin-top: 50px;
}

.select-stats-wrapper{
	padding-top: 10px;
	padding-bottom: 10px;
}

.optional-stat-deactivated{
	border: 2px solid #ef8888 !important;
    box-shadow: 0px 0px 2px #ef8888 !important;
}

#optional-stats-wrapper{
	min-height: 150px;
}


