@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 1024px)
and (orientation : portrait) { 

	#sign-up-button-header, #login-button-header{
		display: none;
	}

	.header-buttons-right-non-user{
		grid-template-columns: 1fr;
		justify-items: flex-end;
    	margin-right: 30px;
	}

	#logged-in-header{
	    align-items: center;
	    padding-bottom: 0px;
	}

}


@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 1024px)
and (orientation : landscape) { 

/*	#sign-up-button-header, #login-button-header{
		display: none;
	}

	.header-buttons-right-non-user{
		grid-template-columns: 1fr;
		justify-items: flex-end;
    	margin-right: 30px;
	}*/

/*

	#logged-in-header{
	    align-items: center;
	    padding-bottom: 0px;
	}*/

}
