<%= link_to :controller => :games, :action => :game_mode do %>
	<div id = "game-preview-banner">
		<%= image_tag("game-mode-preview.JPG", :alt => "game-mode-preview", :class => "game-mode-preview") %>
	</div>
	<div class = "game-preview-text">Enter Game Mode</div>
<%end%>