.notif-bell{
  fill: black;
}

.notif-circle{
  display: none;
  stroke: black;
}

.notif-circle-scroll{
  stroke: black !important;
   transition: stroke 0.30s;
}

.notif-bell-scroll{
  transition: fill 0.30s;
  fill: black;
}

#notifications-button {
}

#notifications{
  width: 300px;
  margin-top: 10px;
  padding-bottom: 5px;
}

#notifications-container{
  height: 300px;
  overflow: scroll;
}

.notification{
  width: 100%;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dddfe2;
  color: black;
  text-align: left;
}

.notification:hover{
  background-color: #f3f3f3;
}

.notification-ago{
  margin-left: 5px;
  font-size: 12px;
  color: #4c4c4c;
}

.notification-button{
  width: 100%;
}

#notifications-header{
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dddfe2;
    text-align: center;
    font-weight: bold;
}

.notification-unread{
  background-color: #e6efff;
}

.notification-unread:hover{
  background-color: #e1e8f3;
}






.notification-bell{
  height: 20px;
}

.box-nub {
  position: absolute;
  background-color: white;
  text-align: left;
  top: -6px;
}
.box-nub:before,
.box-nub:after {
  content: '';
  position: absolute;
  background-color: inherit;
}
.box-nub,
.box-nub:before,
.box-nub:after {
  width:  7px;
  height: 7px;
  border-top-right-radius: 3px;
}

.box-nub {
  transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.box-nub:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.box-nub:after {
  transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
#curr-page{
  display: inline-block;
  padding-left: 10px;
  font-size: 17px;
}

.page-dropdown {
  display: flex;
  height: 50px;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: transparent;
  color: grey;
}

.header-elem{
  min-height: $headerHeight;
}

.fa{
  font-size: 25px;
}

.dropdown-menu > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #262626 !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #e3e3e3 !important;
}

.dropdown-menu{
  margin: 0;
  background-color: white;
  border-radius: 5px;
}

/* Show the dropdown menu on hover */
.page-dropdown:hover .dropdown-content {display: block;}


.page-dropdown:hover .dropdown-content {display: block;}

nav {
  .col-sm-5, .col-sm-7 {
    padding: 0;
  }
  .navbar-header {
    width: 100%;
    button, .navbar-brand {
      transition: opacity 0.15s;
    }
    button {
      margin-right: 0;
    }
    button:hover, .navbar-brand:hover {
      opacity: 0.8;
    }
  }
}


.navbar-inactive{
  position: absolute !important;
}

.navbar-default, .navbar-toggle:focus, .collapsed, button.navbar-toggle {
  padding-top: 20px;
  position: fixed;
  background-color: transparent !important;
  transition: background-color 0.30s, padding-top .30s, box-shadow 0.30s;
  top: 0;
  border: none;
  a {
    transition: color 0.30s;
    color: white;
  }
}

.navbar-active{
    padding-top: 5px;
    background-color: white !important;
    transition: background-color 0.30s, padding-top .30s;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.22);
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.22);
}

.navbar-text-active{
    color: black !important;
    transition: color 0.30s;
}


.navbar-toggle, .navbar-collapse {
  border-color: $navbarColor !important;
  box-shadow: none;
}

.home-link {
  margin: 0 0 0 10px !important;
  font-size: 30px;
  border-right: 1px solid white;
  height: 40px;
  padding-right: 20px;
}

.brand-mobile {
  font-size: 20px;
  font-size: 2.0rem;
}

.pc-menu {
  display: flex;
  margin-right: 10px;
  align-items: center;
  height: $headerHeight;
}

.header-left{
  display: flex;
}

.header-middle{
  height: $headerHeight;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-middle a {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 16px;
}


.dropdown:hover{

}

.mobile-menu {
  i {
    color: white;
  }
  ul {
    padding: 0px;
  }
  a {
    display: block;
    padding: 10px 0px 10px 25px !important;
  }
  a:hover {
    background: white !important;
    color: black !important;
    i {
      color: black;
    }
  }
}

.icon-bar {
  background-color: white !important;
}

.active a {
  background: $navbarColor !important;
  border-bottom: solid 5px white;
}

.dropdown-toggle, .dropdown-menu {
  border: none;
  padding: 0px 0px 0px 0px;
}

.dropdown-menu a:hover {
  color: black !important;
  background: white !important;
}

.navigation-items {
  position: absolute;
  top: 0;
  left: 50%;
}

.navbar-header {
  .open {
    width: 30px;
  }
}

.non-user-nav-links {
  display: inline-block;
  height: $headerHeight;
  line-height: $headerHeight;
  vertical-align: middle;
  padding-right: 20px;
}

#conversations-menu, #contacts-requests {
  font-size: 20px;
  font-size: 2.0rem;
  margin-right: 20%;
  height: $headerHeight;
  line-height: $headerHeight;
  padding-right: 10px;
  display: inline-block;

  ul {
    margin: 0;
    top: $headerHeight;
    border-radius: 0 0 0 0;
    height: 250px;
    overflow: scroll;
    overflow-x: hidden;
    li {
      a {
        width: 100%;
      }
    }
  }
  .unseen-conv {
    a {
      background: $backgroundColor;
      color: black !important;
    }
  }
}

#unseen-conversations, #unresponded-contact-requests {
  visibility: hidden;
  padding: 1px;
  position: absolute;
  // color: white;
  font-size: 13px;
  font-size: 1.3rem;
}

#unseen-conversations {
  right: 5px;
  background: #E92F2F;
}

#conversations-menu {
  i {
    position: relative;
  }
}

#conversations-list {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0;
  .col-sm-2 {
    padding: 0;
  }
}

#contacts-requests {
  li {
    color: black;
    background-color: $backgroundColor;
    border-bottom: 1px solid $navbarColor;
  }
  i {
    position: relative;
  }
  .sixty-percent {
    display: inline-block;
    width: 60%;
  }
  .forty-percent {
    display: inline-block;
    float: right;
    width: 40%;
  }
  .contact-request, .contact-request-responded {
    .contact-name {
      padding-left: 10px;
      padding-right: 20px;
    }
    .accept-request, .decline-request {
      a {
        border: 2px solid $navbarColor;
        padding: 5px;
      }
      &:hover a {
        border-color: black;
      }
      transition: 0.15s border-color;
      transition: 0.15s background-color;
    }
    .accept-request {
      a:hover {
        background-color: black !important;
      }
      a {
        background-color: $navbarColor;
        color: white !important;
      }
    }
    .decline-request {
      a {
        background-color: $backgroundColor;
        color: black !important;
      }
      a:hover, &:hover {
        background-color: white !important;
      }
    }
    .accepted-request {
      background: $navbarColor;
      color: white;
      padding: 5px;
    }
  }
  .no-requests {
    text-align: center;
  }
}

#unresponded-contact-requests {
  top: 0;
  right: 5px;
  background: #3F4EBF;
}