<div id = "schedule-event">
	<div class = "schedule-event-title">
		<div class = 'game-title'>PRACTICE</div>
	</div>
	<div class = "location-time">
		<div class = 'schedule-event-info'>Location: <%=@schedule_event_place%></div>
		<div class = 'schedule-event-info'>Time: <%=@schedule_time_parsed%></div>
	</div>
</div>	