
<style>
	.reset-password-link{
		color: white;
		text-decoration: none;
		background-color: #ff6c40;
		border-radius: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 40px;
		padding-right: 40px;
		font-weight: 600;
		letter-spacing: 0.5px;
	}

	.header{
		font-size: 25px;
	}
</style>
<br>
<div class = "header">ATeam Password Reset Request</div>
<br>
<p>Hi <%= @resource.first_name %>,</p>

<p>You recently requested a password reset.</p>

<p>Your email address: <%= @resource.email %> </p>

<p>If you'd like to reset your password, please follow the link below: </p>
<br>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: "reset-password-link" %></p>
<br>
<p>If you did not request this change, please contact us immediately at support@ateamsports.awsapps.com. </p>
<p>Your password won't change until you access the link above and create a new one.</p>

<div>Sincerely,</div>
<div>ATeam Sports Team</div>
<a href = 'https://ateamsports.app'>ateamsports.app</a>

