	
<div class = "flex-row" id = "header-page-links">
    <div id="home-page-link" class="header-link"><%= link_to 'Home', root_path %>
    </div>
	<div id="stats-page-link" class="header-link"><%= link_to 'Product', product_path %> 
    </div>
    <div id="plays-page-link" class="header-link"><%= link_to 'Demos', demos_path %> 
    </div>
<!--     <div id="plays-page-link" class="header-link"><%= link_to 'About', demos_path %> 
    </div> -->
</div>