<div class="container-wrap">
	<div class="container main-content">
		<div class="row">
			
		<div id="locations" data-column-margin="90px" data-midnight="dark" data-top-percent="8%" data-bottom-percent="8%" class="wpb_row vc_row-fluid vc_row full-width-content  vc_row-o-equal-height vc_row-flex  vc_row-o-content-middle standard_section " style="padding-top: 128px; padding-bottom: 128px; left: 0px; margin-left: -250px; width: 1600px; visibility: visible;"><div class="row-bg-wrap" data-bg-animation="none" data-bg-overlay="true"><div class="inner-wrap"><div class="row-bg" style=""></div></div><div class="row-bg-overlay" style="background: #fff0ed; background: linear-gradient(90deg,#fff0ed 0%,#ffffff 100%);  opacity: 1; "></div></div><div class="row_col_wrap_12 col span_12 dark left">
	<div class="vc_col-sm-6 wpb_column column_container vc_column_container col padding-4-percent inherit_tablet inherit_phone  instance-18" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="top-bottom" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
			<div class="wpb_wrapper">
				<div id="fws_5ea85055965b8" data-midnight="" data-column-margin="none" class="wpb_row vc_row-fluid vc_row inner_row  vc_row-o-content-middle standard_section   " style="padding-top: 0px; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg"></div> </div><div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone  instance-19" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
		<div class="wpb_wrapper">
			<div class="col span_12 section-title text-align-center extra-padding"><h2>
</h2><h2 style="text-align: left">Clear the whiteboard. <br>Play Diagramming has changed.</h2>
</div><div class="clear"></div>
		</div> 
	</div>
	</div> 
</div></div><div id="fws_5ea8505597445" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row  vc_row-o-content-middle standard_section   " style="padding-top: 0px; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg"></div> </div><div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone  instance-20" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
		<div class="wpb_wrapper">
			
<div class="wpb_text_column wpb_content_element  vc_custom_1587757601805" style=" max-width: 500px; display: inline-block;">
	<div class="wpb_wrapper">
		<p>ATeam play diagramming makes it easy to build plays and share them with your players. You’ll never have to worry about a messy whiteboard again.</p>
	</div>
</div>




		</div> 
	</div>
	</div> 
</div></div><div id="fws_5ea85055978e0" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row  vc_row-o-content-middle standard_section   " style="padding-top: 20px; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg"></div> </div><div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-6 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone  instance-21" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
		<div class="wpb_wrapper">
			<div class="nectar-fancy-ul" data-list-icon="dot" data-animation="false" data-animation-delay="0" data-spacing="20px" data-alignment="left"> 
<ul>
<li>Separate your plays into progressions for readable plays.</li>
<li>Annotate plays for more complex concepts.</li>
<li>Categorize plays into custom groupings.</li>
</ul>
 </div>
		</div> 
	</div>
	</div> 

	<div class="vc_col-sm-6 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone  instance-22" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="100">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
		<div class="wpb_wrapper">
			<div class="nectar-fancy-ul" data-list-icon="dot" data-animation="false" data-animation-delay="0" data-spacing="20px" data-alignment="left"> 
<ul>
<li>Animation between progressions</li>
<li>Access plays during games with Game Mode.</li>
<li>Edit, create, and delete plays at any time.</li>
</ul>
 </div>
		</div> 
	</div>
	</div> 
</div></div><div class="nectar-cta " data-style="material" data-alignment="left" data-display="block" data-text-color="custom"><h4> <span class="text"> </span><span class="link_wrap" style="color: #ff1053;">
	<%= link_to play_demo_path, {:class => "link_text"} do %> 
		Explore Play Demo<span class="circle" style="background-color: #ff1053;"></span><span class="arrow"></span>
	<%end%>
	
</span></h4></div>
			</div> 
		</div>
	</div>  

	<div class="vc_col-sm-6 wpb_column column_container vc_column_container col padding-5-percent inherit_tablet inherit_phone  instance-23" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="top-bottom" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
			<div class="wpb_wrapper">
				<div class="img-with-aniamtion-wrap " data-max-width="100%" data-max-width-mobile="default" data-border-radius="5px" data-shadow="large_depth" data-animation="fade-in">
      <div class="inner">
        <div class="hover-wrap" data-hover-animation="none" style="opacity: 1;"> 
          <div class="hover-wrap-inner">
          </div>
        </div>
      </div>
    </div>
			</div> 
		</div>
	</div> 
</div></div>

<!--HERE -->


		<div id="locations" data-column-margin="90px" data-midnight="dark" data-top-percent="8%" data-bottom-percent="8%" class="wpb_row vc_row-fluid vc_row full-width-content  vc_row-o-equal-height vc_row-flex  vc_row-o-content-middle standard_section " style="padding-top: 128px; padding-bottom: 128px; left: 0px; margin-left: -250px; width: 1600px; visibility: visible;"><div class="row-bg-wrap" data-bg-animation="none" data-bg-overlay="true"><div class="inner-wrap"><div class="row-bg" style=""></div></div><div class="row-bg-overlay" style="background: #ffffff; background: linear-gradient(90deg,#ffffff 0%,#edf9ff 100%);  opacity: 1; "></div></div><div class="row_col_wrap_12 col span_12 dark left">
	<div class="vc_col-sm-6 wpb_column column_container vc_column_container col padding-5-percent inherit_tablet inherit_phone instance-24" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="top-bottom" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0" style = "padding-left: 0;">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
			<div class="wpb_wrapper">
				<div class="nectar_video_player_self_hosted wpb_video_widget wpb_content_element vc_clearfix vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-center" data-border-radius="5px" data-shadow="large_depth">
<div class="wpb_wrapper"></div></div>
			</div> 
		</div>
	</div> 

	<div class="vc_col-sm-6 wpb_column column_container vc_column_container col padding-4-percent inherit_tablet inherit_phone instance-25" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="top-bottom" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
			<div class="wpb_wrapper">
				<div id="fws_5ea850559dbd6" data-midnight="" data-column-margin="none" class="wpb_row vc_row-fluid vc_row inner_row  vc_row-o-content-middle standard_section   " style="padding-top: 0px; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg"></div> </div><div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone instance-26 no-left-margin" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
		<div class="wpb_wrapper">
			<div class="col span_12 section-title text-align-center extra-padding"><h2>
</h2><h2 style="text-align: left">Stat collection made easy.</h2>
</div>
		</div> 
	</div>
	</div> 
</div></div><div id="fws_5ea850559e218" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row  vc_row-o-content-middle standard_section   " style="padding-top: 0px; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg"></div> </div><div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone instance-27 no-left-margin" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
		<div class="wpb_wrapper">
			
<div class="wpb_text_column wpb_content_element  vc_custom_1588014951116" style=" max-width: 500px; display: inline-block;">
	<div class="wpb_wrapper">
		<p>Gain next level stat insights with ATeam Game Mode. Easily track stats for your team during the game for in game insights, or afterward with film.</p>
	</div>
</div>




		</div> 
	</div>
	</div> 
</div></div><div id="fws_5ea850559e8b6" data-midnight="" data-column-margin="20px" class="wpb_row vc_row-fluid vc_row inner_row  vc_row-o-content-middle standard_section   " style="padding-top: 20px; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg"></div> </div><div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-6 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone instance-28 no-left-margin" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
		<div class="wpb_wrapper">
			<div class="nectar-fancy-ul" data-list-icon="dot" data-animation="false" data-animation-delay="0" data-spacing="20px" data-alignment="left"> 
<ul>
<li><i class="icon-default-style dot undefined"></i> Customize stats you want to keep for your team</li>
<li><i class="icon-default-style dot undefined"></i> Shot charts for players and team.</li>
<li><i class="icon-default-style dot undefined"></i> Stat tables for game and period totals</li>
</ul>
 </div>
		</div> 
	</div>
	</div> 

	<div class="vc_col-sm-6 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone instance-29" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="100">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
		<div class="wpb_wrapper">
			<div class="nectar-fancy-ul" data-list-icon="dot" data-animation="false" data-animation-delay="0" data-spacing="20px" data-alignment="left"> 
<ul>
<li><i class="icon-default-style dot undefined"></i> Easily modify stats with the game log</li>
<li><i class="icon-default-style dot undefined"></i> Submit at the end of the game to add to season stats</li>
<li><i class="icon-default-style dot undefined"></i> Come back to game mode any time to make changes</li>
</ul>
 </div>
		</div> 
	</div>
	</div> 
</div></div><div class="nectar-cta " data-style="material" data-alignment="left" data-display="block" data-text-color="custom"><h4> <span class="text"> </span><span class="link_wrap" style="color: #ff1053;"><a class="link_text" href="/game_mode_demo">Explore Game Mode Demo<span class="circle" style="background-color: #ff1053;"></span><span class="arrow"></span></a></span></h4></div>
			</div> 
		</div>
	</div> 
</div></div>
	<div id="locations" data-column-margin="90px" data-midnight="dark" data-top-percent="8%" data-bottom-percent="8%" class="wpb_row vc_row-fluid vc_row full-width-content  vc_row-o-equal-height vc_row-flex  vc_row-o-content-middle standard_section " style="padding-top: 128px; padding-bottom: 128px; left: 0px; margin-left: -250px; width: 1600px; visibility: visible;"><div class="row-bg-wrap" data-bg-animation="none" data-bg-overlay="true"><div class="inner-wrap"><div class="row-bg" style=""></div></div><div class="row-bg-overlay" style="background: #f3edff; background: linear-gradient(90deg,#f3edff 0%,#ffffff 100%);  opacity: 1; "></div></div><div class="row_col_wrap_12 col span_12 dark left">
	<div class="vc_col-sm-6 wpb_column column_container vc_column_container col padding-4-percent inherit_tablet inherit_phone  instance-30" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="top-bottom" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
			<div class="wpb_wrapper">
				<div id="fws_5ea850559f582" data-midnight="" data-column-margin="none" class="wpb_row vc_row-fluid vc_row inner_row  vc_row-o-content-middle standard_section   " style="padding-top: 0px; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg"></div> </div><div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone  instance-31" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
		<div class="wpb_wrapper">
			<div class="col span_12 section-title text-align-center extra-padding"><h2>
</h2><h2 style="text-align: left">Pro level analytics meet the eye test.</h2>
</div><div class="clear"></div>
		</div> 
	</div>
	</div> 
</div></div><div id="fws_5ea850559f910" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row  vc_row-o-content-middle standard_section   " style="padding-top: 0px; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg"></div> </div><div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone  instance-32" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
		<div class="wpb_wrapper">
			
<div class="wpb_text_column wpb_content_element  vc_custom_1588023892236" style=" max-width: 500px; display: inline-block;">
	<div class="wpb_wrapper">
		<p>Gain next level insight with ATeam stat analytics. Track performance with basic and advanced stats. Explore different data visualizations. Make decisions with confidence.</p>
	</div>
</div>




		</div> 
	</div>
	</div> 
</div></div><div id="fws_5ea85055a004f" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row  vc_row-o-content-middle standard_section   " style="padding-top: 20px; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg"></div> </div><div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-6 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone  instance-33" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
		<div class="wpb_wrapper">
			<div class="nectar-fancy-ul" data-list-icon="dot" data-animation="false" data-animation-delay="0" data-spacing="20px" data-alignment="left"> 
<ul>
<li>Track 25+ basic and advanced stats for players and team</li>
<li>Lineup stats based on real data</li>
<li>Effective field goal percentage shot charts</li>
</ul>
 </div>
		</div> 
	</div>
	</div> 

	<div class="vc_col-sm-6 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone  instance-34" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="100">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
		<div class="wpb_wrapper">
			<div class="nectar-fancy-ul" data-list-icon="dot" data-animation="false" data-animation-delay="0" data-spacing="20px" data-alignment="left"> 
<ul>
<li>Visualize player stat profiles with radar charts</li>
<li>Game reports</li>
<li>Analyze trends throughout the season</li>
</ul>
 </div>
		</div> 
	</div>
	</div> 
</div></div><div id="fws_5ea85055a057f" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row standard_section   " style="padding-top: 0px; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg"></div> </div><div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone  instance-35" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
		<div class="wpb_wrapper">
			<div class="nectar-cta " data-style="material" data-alignment="left" data-display="block" data-text-color="custom"><h4> <span class="text"> </span><span class="link_wrap" style="color: #ff1053;"><a class="link_text" href="/stats_demo">Explore Stat Demo<span class="circle" style="background-color: #ff1053;"></span><span class="arrow"></span></a></span></h4></div>
		</div> 
	</div>
	</div> 
</div></div>
			</div> 
		</div>
	</div> 

	<div class="vc_col-sm-6 wpb_column column_container vc_column_container col padding-5-percent inherit_tablet inherit_phone  instance-36" data-t-w-inherits="default" data-bg-cover="" data-padding-pos="top-bottom" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner"><div class="column-bg-overlay-wrap" data-bg-animation="none"><div class="column-bg-overlay"></div></div>
			<div class="wpb_wrapper">
				
			</div> 
		</div>
	</div> 
</div></div>
		
		
		<div id="fws_5e99d0fc40436"  data-midnight="light"  data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row full-width-content  vc_row-o-equal-height vc_row-flex standard_section  margin-bottom "  style="padding-top: 0px; padding-bottom: 0px; ">
			<div class="row-bg-wrap" data-bg-animation="none">
				<div class="inner-wrap ">
					<div class="row-bg    "  style=""></div>
				</div>
				<div class="row-bg-overlay" ></div>
			</div>
			<div class="col span_12 light center">
				<div style="" class="flex-row-important vc_col-sm-6 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-6 vc_col-sm-offset-0 vc_col-xs-12 view_more_section wpb_column column_container vc_column_container col padding-3-percent" data-using-bg="true" data-t-w-inherits="default" data-border-radius="none" data-shadow="none" data-border-animation="" data-border-animation-delay="" data-border-width="none" data-border-style="solid" data-border-color="" data-bg-cover="" data-padding-pos="top-bottom" data-has-bg-color="true" data-bg-color="#ffffff" data-bg-opacity="1" data-hover-bg="#f7f7f7" data-hover-bg-opacity="0.9" data-animation="" data-delay="0"><a class="column-link" target="_self" href="/demos"></a>
					<div class="column-image-bg-wrap" data-bg-animation="none">
						<div class="inner-wrap">
							<div class="column-image-bg" style=" background-image: url(''); "></div>
						</div>
					</div>
					<div class="column-bg-overlay" style="opacity: 1; background-color: #ffffff;"></div>
					<div class="vc_column-inner flex-column center-justified">
						<div class="wpb_wrapper">
							<div class="morphing-outline" data-starting-color="#ff7526" data-hover-color="#ff4c00" data-border-thickness="11">
								<div class="inner">
									<h5><i>Like what you see?</i></h5>
									<h2 style="font-size: 33px; letter-spacing: -0.5px;">Sign Up for ATeam</h2>
								</div>
							</div>
						</div> 
					</div>
				</div> 
				<div style="" class="flex-row-important vc_col-sm-6 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-0 vc_col-md-6 vc_col-sm-offset-0 vc_col-xs-12 request-strategy wpb_column column_container vc_column_container col padding-3-percent" data-using-bg="true" data-t-w-inherits="default" data-border-radius="none" data-shadow="none" data-border-animation="" data-border-animation-delay="" data-border-width="none" data-border-style="solid" data-border-color="" data-bg-cover="" data-padding-pos="top-bottom" data-has-bg-color="true" data-bg-color="#ff7526" data-bg-opacity="1" data-hover-bg="#ff4300" data-hover-bg-opacity="1" data-animation="" data-delay="0">
					<a class="column-link" target="_self" href="/request-strategy"></a><div class="column-bg-overlay" style="opacity: 1; background-color: #ff7526;"></div>
					<div class="vc_column-inner flex-column center-justified">
						<div class="wpb_wrapper">
							<div class="morphing-outline" data-starting-color="#ffffff" data-hover-color="#ffffff" data-border-thickness="11">
								<div class="inner">
									<div style="cursor: pointer;">
										<h5><i>Want to see more?</i></h5>
										<h2 style="font-size: 33px; letter-spacing: -0.5px;">Explore Demos</h2>
									</div>
								</div>
							</div>
						</div> 
					</div>
				</div> 
			</div>
		</div>

		</div><!--/row-->
	</div><!--/container-->
</div><!--/container-wrap-->