<div id = "main">
	<div class = "navigation-header">
		<div id = "airsquad-logo">AS</div>
		<div id = "squad-name"> <%= @team.name %></div>
	</div>
	<div class = "content">
		<div id = "left-half">
			<div id = "feed">
				THIS IS THE FEED
			</div>
		</div>	
		<div id = "right-half">
			<div id ="top-half">
				<div id = stats> STATS</div>
				<%= link_to "plays", team_plays_path(@team.id) %>
			</div>
			<div id = "bottom-half">
				<div id = "schedule">SCHEDULE</div>
				<div id = "video">VIDEO</div>
			</div>	
		</div>
	</div>
</div>




<script>

</script>

