<%=render "layouts/small_header"%>
<div id = "game-preview-banner">
	<%= image_tag("game-mode-preview.JPG", :alt => "game-mode-preview", :class => "game-mode-preview") %>
</div>
<div class = "game-preview-content">
	<div class = "game-preview-heading">Game vs <%=@opponent.name %></div>
	<div class = "game-preview-text">Check back after the game to see stats.</div>
</div>