<div class = "modal-overlay" id = "new-season-overla" style = "display: none;"></div>
<div class = "modal modal-positioning" id = "new-season-modal" style = "display: none;">
  <div id = "new-season-wrapper" class = "modal-container">
    <div class = "GM-modal-wrapper">
      <div class = "modal-header-wrapper">
        <div class = "modal-header" id = "new-season-header">New Season</div>
      </div>
      <div class = "modal-inner-content" id = "new-season-modal-content">
        <div class = "modal-body" id = "new-season-modal-body">
        	<div id = "team-information" class = "GM-modal-inner-block"> 
	            <div id = "keep-information-select">
	            </div>
	            <div id = "new-information-select">
				</div>
	        </div>
	        <div id = "new-information-container" style = "display: none" class = "GM-modal-inner-block">
	        	<div id = "personel-selection-header" class = "modal-subheader">Team Info</div>
				<div id = "team-info-body">

				</div>
	        </div>
	        <div id = "keep-players-container" style = "display: none" class = "GM-modal-inner-block">
	        	<div id = "personel-selection-header" class = "modal-subheader">Select players you would like to import to new season</div>
				<div id = "personel-selection-body">

				</div>
	        </div>
	        <div id = "new-players-container" style = "display: none" class = "GM-modal-inner-block">
	        	<div id = "new-players-header" class = "modal-subheader">Enter new players</div>
				<div id = "new-players-body">

				</div>
	        </div>
	         <div id = "stats-information" style = "display: none" class = "GM-modal-inner-block">
	        	<div id = "keep-same-stats-select">
	            </div>
	            <div id = "new-stats-select">
				</div>
	        </div>
	        <div id = "stats-information" style = "display: none" class = "GM-modal-inner-block">
	        	<div id = "select-stats-header" class = "modal-subheader">Select stats</div>
				<div id = "select-stats-body">

				</div>
	        </div>
        </div>
      </div>
      <div class = "modal-footing">

      </div>
    </div>
  </div>
</div>